html, body {
    background-color: #333;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 500px;
    width: 90%;
}

#joke {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #5fd1e7;
    border: 2px solid white;
    border-radius: 5px;
    color: red;
    font-size: 1.2em;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    word-wrap: break-word;
}

#refreshButton {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 20px;
    color: red;
    background-color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

#refreshButton:hover {
    background-color: #ddd;
}

@media all and (min-width: 320px) and (max-width: 450px) {
    .container {
        background-color: rgb(222, 126, 222);
        width: 95%;
        padding: 15px;
    }
    
    #joke {
        font-size: 1em;
        padding: 15px;
    }
    
    #refreshButton {
        font-size: 14px;
        padding: 8px 16px;
    }
}
@media all and (min-width: 451px) and (max-width: 650px) {
    .container {
        background-color: rgb(120, 230, 136);
        width: 95%;
        padding: 15px;
    }
    
    #joke {
        font-size: 1em;
        padding: 15px;
    }
    
    #refreshButton {
        font-size: 14px;
        padding: 8px 16px;
    }
}
